{% extends 'base.html' %}

{% block content %}

<section class="card">
    <h1>Калькулятор</h1>

    <p>
        Введите математическое выражение и нажмите кнопку.
        Например: 2+2, 10*5, 20/4.
    </p>

    <form method="post">
        {% csrf_token %}

        <input
            type="text"
            name="expr"
            placeholder="Введите пример"
            required
        >

        <button type="submit">
            Посчитать
        </button>
    </form>

    <h2>Результат: {{ result }}</h2>
</section>

<section class="card">
    <h2>Темы оформления</h2>

    <button onclick="setTheme('')">
        Обычная
    </button>

    <button onclick="setTheme('dark')">
        Тёмная
    </button>

    <button onclick="setTheme('blue')">
        Синяя
    </button>

    <button onclick="setTheme('green')">
        Зелёная
    </button>
</section>

{% endblock %}